<div class="row">
  <div class="col-6">
    <div class="mb-5" *ngFor="let example of examples">
      <h5>{{ example.name }}</h5>
      <p class="mt-3">With <code>ui-button</code>:</p>
      <ng-container *ngFor="let button of example.buttons">
        <span class="mr-3">
          <ui-button [button]="button" (action)="handleAction($event)"></ui-button>
        </span>
      </ng-container>
      <p class="mt-3">With <code>ui-buttons</code>:</p>
      <ui-buttons [buttons]="example.buttons" (action)="handleAction($event)"></ui-buttons>
    </div>
    <h5>Define the buttons inside the template</h5>
    <ui-buttons
      (action)="handleAction($event)"
      [buttons]="[
        { icon: 'fa-refresh', action: 'REFRESH' },
        { icon: 'fa-info', action: 'INFO' },
        { icon: 'fa-trash-o', action: 'DELETE' }
      ]"
    ></ui-buttons>
  </div>
  <div class="col-6">
    <pre>{{ result | json }}</pre>
  </div>
</div>
