<div class="mb-3" *ngFor="let example of examples">
  <ui-cart-icon [count]="example.count"></ui-cart-icon>
</div>

<h3 class="my-3">Icon Types</h3>
<ui-cart-icon [count]="1" iconType="danger"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="info"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="light"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="primary"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="secondary"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="success"></ui-cart-icon>
<ui-cart-icon [count]="1" iconType="warning"></ui-cart-icon>

<h3 class="my-3">Badge Types</h3>
<ui-cart-icon [count]="1" badgeType="danger"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="dark" textType="light"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="info"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="light"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="primary"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="secondary"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="success"></ui-cart-icon>
<ui-cart-icon [count]="1" badgeType="warning"></ui-cart-icon>
